.navbar {
  display: flex;
  width: 100%;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  display: inline;
  padding: 10px;
}

.navbar ul li a {
  color: #ededed;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 30px;
}

.navbar ul li a:hover {
  color: #00abf0;
}

.navbar ul li a.active {
  color: #00abf0;
}

.logo {
  font-size: 25px;
  color: #ededed;
  font-weight: 600;
  text-decoration: none;
}
