.footer {
  background: #0c3857;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: flex-start;
  z-index: 100;
}

.footerContent{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footerContent span {
  color: #ededed;
  font-size: 18px;
  font-weight: 700;
}

.footerContent ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}